[[source]]
name = "pypi"
url = "https://mirrors.cloud.tencent.com//pypi//simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"

[packages]
pygame = "*"

[requires]
python_version = "3.8"
